 Prerequisites
*.d

*.tmp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pyc
# VSCode settings
.vscode/

# Build
bin/
lib/
build/
target/
*.build
env
thirdparty/
egraphs/target/**
# Jupyter checkpoints
.ipynb_checkpoints/
**/__pycache__
__pycache__/